body {
    /*background-color: #1B1F2A; */
    width: 100%;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.widget {
    margin: 0 auto;
    width:210px;
    margin-top:5px;
    background-color: #f0f8f7;
    border-radius: 15px;
    /*box-shadow: 0px 0px 1px 0px #06060d;*/

}

.header{
    background-color: #4a5755;
    height:20px;
    color:#ffffff;
    text-align: center;
    line-height: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-weight: 400;
    font-size: 0.8em;
    text-shadow: 1px 1px #06060d;
    /*padding-top: 2px; */
}

.chart-container{
    padding:7px;
}

.shadow {
    -webkit-filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.5) );
    filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.5) );
}


#allDiv, #secondDiv, #thirdDiv {
    /*width: 75%;
    height: 75px; */
    margin-left: 17%;
    /*margin-right: auto; */
    /*margin-top: 2%;*/
    /*border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: #008040;*/
    overflow: hidden;
}

#subDiv1, #subDiv2, #subDiv3, #subDiv4 {
    /*width: 25%;
    height: 75px;*/
    /*border-width: 1px;
    border-color: #000;
    border-style: solid;*/
    /*box-sizing: border-box;*/
}

#subDiv1 {
    margin-right: 10px;
    float: left;
}

#subDiv2 {
    margin-right: 10px;
    float: left;
}

#subDiv3 {
    margin-right: 10px;
    float: left;
}

#subDiv4 {
    margin-right: 10px;
    float: left;
}

#subDiv5 {
    margin-right: 10px;
    float: left;
}

#subDiv6 {
    margin-right: 10px;
    float: left;
}

#subDiv7 {
    margin-right: 10px;
    float: left;
}

#subDiv8 {
    margin-right: 10px;
    float: left;
}

.court {
  display: block;
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 10px;
}
