<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title> Covid-19 U.S. States Tracker
    </title>
    <link rel=stylesheet type=text/css href='{{ url_for('static',filename='styles_home.css')}}'>

</head>
<body>
<div id="all-content">
    <div id="header">
        <h1>Covid-19 U.S. States Tracker
        </h1>

        <hr class="imp"/>

    </div>


    <div id="content">

        <img src='data:image/png;base64,{{web_figure}}' width="100%"/>
    </div>
</div>
</body>

</html>
